/* основные стили */

h3 {
    margin-top: 150px;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    padding: 10px;
}

.ref {
    display: inline-block;
    margin: 30px auto 0;
    padding: 8px 24px;
    width: 300px;
    height: 45px;
    background: #e74c3c;
    color: #f5f6fa;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
}

/*стиль блока со ссылками*/
.references {
    margin: 0 auto 150px;
    display: flex;
    justify-content: space-evenly;
    width: 700px;
}

/*ссылка на страницу техничесой поддерки*/
.support {
    display: inline;
    padding: unset;
    background: none;
    color: grey;
    text-decoration: none;
    font-style: italic;
    font-size: 26px;
}