.compose_container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 285px);
    justify-content: center;
    width: 1400px;
    margin: 0 auto 96px;
}

@media (max-width: 500px) {
    .author {
        display: none;
    }

    .compose_container {
        width: 100%;
        grid-template-columns: repeat(1, 95vw);
        justify-content: ce nter;
    }
}