/*Анимационные стили*/

/*поначалу модальное окно невидимо*/
.modal-overlay, .modal-window {
    opacity: 0;
    z-index: -1;
}

/*если у элемента vmodal  есть класс .open,  то модальное окно появится*/
.vmodal{}

.vmodal.open .modal-overlay,
.vmodal.open .modal-window {
    opacity: 1;
    z-index: 1000;
}

/*анимация появения модального окна и черного фона при наличии класса .open*/
.vmodal.open .modal-window {
    transform: translateY(100px);
}

.vmodal.open .modal-overlay {
    background-color: rgba(0, 0, 0, .5);
}

/*стили, срабатывающие при удалении с экрана модального окна при наличии класса  .hide*/
.vmodal.hide .modal-overlay,
.vmodal.hide .modal-window {
    opacity: 1;
    z-index: 1000;
}

/*анимация исчезновения модального окна и черного фона при наличии класса .open*/
.vmodal.hide .modal-window {
    transform: translateY(-200px);
}

.vmodal.hide .modal-overlay {
    background-color: rgba(0, 0, 0, 0);
}


/*Основные стили элементов*/

/*Отвечает за черный фон*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*Анимация затемнения фона*/
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .2s ease-in;
}

/*Белое модальное окно*/
.modal-window {
    border-radius: 5px;
    background: #fff;
    margin: 0 auto;
    /*анимация появления модального окна*/
    transform: translateY(-200px);
    transition: transform .2s ease-in;
}

/*Стили заголовка модального окна*/
.vmodal-header {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

/*Стили текста заголовка*/
.modal-title {
    font-size: 1.5rem;
}

/*стиль крестика*/
.modal-close {
    font-size: 1.5rem;
    cursor: pointer;
}

/*Стили тела модального окна*/
.vmodal-body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.vmodal-body p {
    margin: 15px 35px;
    text-align: center;
    font-size: 1.5rem;
}

/*стили футера модального окна*/
.vmodal-footer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #eee;
}

.vmodal-footer label {
    min-width: 300px;
    height: 45px;
    display: block;
    font-size: 20px;
    padding: 8px 24px;
    border-radius: 8px;
    margin: 16px auto 0;
    border: 0;
    background: #e74c3c;
    color: #f5f6fa;
    text-align: center;
    cursor: pointer
}

/*стили кнопок Удаления и Отмены модальньго окна по удалению стихов и музыки*/

.cancel {
    width: 35%;
    height: 35px;
    font-size: 1em;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: royalblue;
    padding: 5px;
}

.delete {
    width: 35%;
    height: 35px;
    font-size: 1em;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: darkred;
    padding: 5px;
}

/*стили загруженного фото и наложенного на него холста*/

.image {
    max-width: 350px;
    background: #fff;
    border-radius: 15px;
}

.canvas {
    position: absolute;
    border: 0;
    border-radius: 15px;
    cursor: move;
}

/*Доработать стили тела модалного окна*/
.resultAvatar {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resultPhoto {
    margin: 0 auto;
}














