@font-face {
    font-family: 'Alexander';
    src: url('fonts/Alexander.ttf');
    /*src: local('☺'),*/
    /*        url('../fonts/Alexander/Alexander.woff') format('woff'),*/
    /*        url('../fonts/Alexander/Alexander.ttf') format('truetype'),*/
    /*        url('../fonts/Alexander/Alexander.svg') format('svg');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arsenal-Regular';
    src: url('fonts/Arsenal-Regular.ttf');
    /*src: local('☺'),*/
    /*        url('../fonts/Arsenal/Arsenal-Regular.woff') format('woff'),*/
    /*        url('fonts/Arsenal-Regular.ttf') format('truetype'),*/
    /*        url('../fonts/Arsenal/Arsenal-Regular.svg') format('svg');*/
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

.cabinet_container {
    display: flex;
    margin: 0 auto;
    width: 1400px;
    min-height: 100vh;
    background-color: #ffe0b3;
}

/*левый блок и его меню*/
.left-sb {
    width: 15%;
    background-color: white;
}

ul {
    list-style-type: none;
}

.menu-item {
    width: 100%;
    font-size: 18px;
}

.menu-item a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 40px;
    padding: 8px;
}

.menu-item a:hover {
    display: inline-block;
    text-decoration: none;
    background-color: #2f3640;
    color: white;
}

.right-sb {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 85%;
    padding: 20px 0 20px;
}

/*стили для страницы конкретного стихотворения*/
h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Alexander";
    font-size: 2em;
    color: darkred;
}

/*стили стихотворения*/
.poem_fool_image {
    width: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 5%;
}

.poem_fool_content {
    width: fit-content;
    margin: 20px auto;
    font-family: "Arsenal-Regular";
    font-size: 1.3em;
    overflow: hidden;
}