/*сили лайков и количества комментариев*/
.like_btn {
    cursor: pointer;
}

.p_comment {
    width: 4%;
}

.like_comment {
    display: flex;
    align-items: center;
    padding-left: 2%;
}

.p_digit_l, .p_digit_c {
    display: block;
    margin-left: 1%;
    margin-right: 2%;
    font-size: 1.5em;
}


/*стилли комментариев*/

.comments_container {
    width: 100%;
    height: fit-content;
}

.comment_block {
    display: flex;
    /*свойство не позволяет аватарке растягиваться на всю высоты контейнера при увеличении масштаба*/
    align-items: flex-start;
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    background-color: white;
}

.comment_author_avatar {
    width: 10%;
    display: block;
    border-radius: 50%;
}

.comment_body {
    position: relative;
    width: 90%;
    margin-left: 2%;
    padding-right: 2%;
}

.comment_author_name {
    margin-bottom: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

.edit_pencil {
    position: absolute;
    left: 93%;
    top: 3%;
    width: 2.5%;
    opacity: .3;
}

.close_cross {
    position: absolute;
    left: 97%;
    top: 3%;
    width: 2.5%;
    opacity: .3;
}

.close_cross:hover, .edit_pencil:hover {
    opacity: 1;
}

.time_stamp {
    float: right;
}

.new_comment {
    position: relative;
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 50px;
    height: 250px;
    background-color: white;
}

.new_comment textarea {
    width: 90%;
    margin-top: 5px;
    margin-left: 8%;
    padding-right: 2%;
    height: 200px;
    border: 2px solid black;
    border-radius: unset;
    box-shadow: none;
}

.send_comment_img {
    position: absolute;
    left: 94%;
    top: 80%;
    width: 6%;
}

/*картинка виньетки после стихотворения*/
.vignette {
    display: block;
    margin: 0 auto;
}