@font-face {
    font-family: 'Alexander';
    src: url('../fonts/Alexander.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arsenal-Regular';
    src: url('../fonts/Arsenal-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poem_container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 85%;
    padding: 20px 0 20px;
}

.author_avatar {
    width: 120px;
    margin: 0 auto;
    border-radius: 50%;
}

.author_name {
    width: 300px;
    margin: 10px auto;
    font-size: 24px;
    text-align: center;
}

h1 {
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: "Alexander";
}

.poem_fool_image {
    width: 400px;
    display: block;
    margin-bottom: 20px;
    border-radius: 5%;
}

.poem_fool_content {
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Arsenal-Regular";
    font-size: 25px;
}

@media (max-width: 500px) {
    .poem_container {
        width: 100%;
    }

    .author_name {
        font-size: 22px;
    }

    .poem_header {
        width: 100%;
        font-size: 25px;
    }

    h1 {
        font-size: 20px;
    }

    .poem_fool_image {
        width: 90vw;
    }

    .poem_fool_content {
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
        font-size: 14px;
    }
}